*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    width:100vw;
    height:100vh;
    background:#000;
    overflow:hidden;

    display:flex;
    justify-content:center;
    align-items:center;
}

.face{
    display:flex;
    justify-content:center;
    align-items:center;
}

.eyes{
    display:flex;
    gap:120px;
}

.eye{

    width:220px;
    height:120px;

    border-radius:80px;
    

    display:flex;
    justify-content:center;
    align-items:center;

    background:rgba(0,200,255,0.08);

    border:3px solid #00C8FF;

    transition:
        height .12s ease,
        transform .12s ease;

    animation:breathe 4s ease-in-out infinite;
}

.inner-eye{

    width:120px;
    height:80px;

    border-radius:50%;

    background:#00C8FF;

}

.eye.blink{
    height:10px;
}

.eye.blink .inner-eye{
    opacity:0;
}